.sidebar{
    display: grid;
    height: 100%;
    place-content: center;
    gap: 2rem;
    z-index: 2;

}
.avatar{
    display: grid;
    grid-template-columns: repeat(4,40px);
    height: 200px;
    width: 200px;
}
.avatar img{
    width: 100%;
    height: 100%;
}


.name{
    display: flex;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}
.role{
    font-weight: 600;
}
.themeCv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
hr{
    width: 100%;
    border: 1px solid var(--text-primary);
}
.lan-contact>div{
    margin: 1rem 0;
    
}



@media (max-width: 700px) {
    .sidebar{
        display: flex;
        justify-items: center;
        gap: 0;
    }
    .avatar{
        justify-content: center;
    }
    .name-role{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    hr{
        display: none;
    }
    .lan-contact{
        display: none;
    }

}