.sidebar{
    display: grid;
    height: 100%;
    align-content: center;
    gap: 2rem;
    z-index: 2;
    padding: 0.5rem;

}

.name{
    display: flex;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}
.role{
    font-weight: 600;
}
.themeCv{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
}
hr{
    width: 100%;
    border: 1px solid var(--text-primary);
}
.lan-contact>div{
    margin: 1rem 0;
    
}



@media (max-width: 700px) {
    .sidebar{
        display: grid;
        grid-auto-flow: row ;
        gap: 0 ;
    }
    .themeCv{
        display: grid;
        grid-auto-flow: row;
        width: 100%;
    }

    .name-role{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center ;
    }
    hr{
        display: none;
    }
    .lan-contact{
        display: none;
    }

}