.projects{

    
}
.projects ul{
    list-style: none;
    width: fit-content;
}
.projects li{
    cursor: pointer;
    width: auto;
    margin: 0.5rem;
    border-bottom: 1px solid var(--text-primary);
    transition: transform 0.5s;
}
.projects li:hover{
    font-size: 1.1rem;
    transform: translateX(1rem);
    
}