.main {
    position: sticky;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 5rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2,minmax(100px,250px));
    height: 100%;
    padding: 40px;
    z-index: 2;
    overflow-y: auto;
  }
  
  .footer {
    display: none;
  }


  @media (max-width: 1100px) {
    .main {
      grid-template-columns: minmax(100px, 600px);
      align-content: unset;
      padding: 20px;
      grid-template-rows: unset;
    }
  }

  @media (max-width: 700px) {
    .main{
      overflow-y: unset;
    }
  
    .footer {
      display: grid;
      text-align: center;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      word-wrap: break-word;
      overflow-x: hidden;
    }
  }