.App{
    display: grid;
    grid-template-columns: minmax(50px, 250px) minmax(200px,1fr);
    height: 100%;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text-primary);
}
a{
    color: var(--text-primary);
}
h2{
    border-radius: 0.2rem;
    padding: 0.3rem;
    font-weight: 900;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
}



.main{
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    height: 100%;
    transition: all 0.5s;

}
.main-container{
    display: grid;
    align-self: center;
    height: 60%;
    gap: 5rem;
    grid-template-columns:repeat(2,minmax(200px,600px));

}

.main-container>div>div{
    margin: 0.5rem;
}

.footer{
    display: none;
}



@media (max-width: 700px) {
    .App{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: minmax(200px,1fr);
        overflow-y: auto;
    }
    .main{
        overflow: unset;
    }
    
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem 0.5rem;
        overflow: unset;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2,minmax(100px, 500px));
        word-wrap: break-word;
    }
    
}
@media (max-width: 1100px) {
    .main-container{
        grid-template-columns: 1fr;
        height: 90%;

      }
  }



