*{
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, #root{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0.4rem 0;
}
li{
  margin: 0.1rem 0;
}
a {
  color: var(--text-primary);
}
.title {
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 0.5rem 0;
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  overflow: hidden;
  white-space: nowrap;
}
.title p {
  font-weight: 900;
  font-size: 2.5rem;
  animation: textMove 8s linear infinite;
  animation-delay: 2.5s;
}
h2{
    font-weight: 700;
}


:root {
  --background: #f7f2e9;
  --background-secondary:#9599E2;
  --text-primary: #524e47;
  --text-secondary: #f7f2e9;
  --accent: purple;
}
[data-theme='dark'] {
  --background: #9599E2;
  --background-secondary:#f7f2e9;
  --text-primary: #f7f2e9;
  --text-secondary: #524e47;
  --accent: darkred;
}

@keyframes textMove {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(-100%,0);
  }
    
}

@media (max-width: 1100px) {
  .title p{
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .title p{
    font-size: 1.5rem;
  }
}