*{
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, #root{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #f7f2e9;
  --background-secondary:#9599E2;
  --text-primary: #524e47;
  --text-secondary: #f7f2e9;
  --accent: purple;
}
[data-theme='dark'] {
  --background: #9599E2;
  --background-secondary:#f7f2e9;
  --text-primary: #f7f2e9;
  --text-secondary: #524e47;
  --accent: darkred;
}

@keyframes textMove {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(-100%,0);
  }
    
}